<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>登录</title>

    <link rel="shortcut icon" href="favicon.ico"> <link href="css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h2 class="logo-name">et</h1>

            </div>
            <h3>欢迎登录</h3>

			<div th:if="${param.error}">Invalid username and password.</div>
			<div th:if="${param.logout}">You have been logged out.</div>
					
            <form class="form-horizontal" id="loginForm" th:action="@{/login}" method="post">
                <p></p>
                <div class="form-group">
                    <label class="col-md-3 control-label">用户名：</label>

                    <div class="col-md-7">
                        <input type="text" name="username" placeholder="用户名" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">密码：</label>

                    <div class="col-md-7">
                        <input type="password" name="password" placeholder="密码" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">验证码：</label>

                    <div class="col-md-7">
                        <input type="text" name="imageCode" placeholder="验证码" class="form-control">
                    </div>
                    <div class="col-md-1">
                        <img  id="captchaId" th:src="@{/captcha-image}" onClick="refresh()" height="30" width="50"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-8">
                        <button class="btn btn-sm btn-white" type="submit">登 录</button>
                        <button class="btn" type="button" id="ajaxLoginBtn">异步ajax登录</button>
                    </div>
                </div>
                <div>
	            	<label><input type="checkbox" name="remember-me"  value="true" th:checked="checked" class="i-checks">Remember me</label>
	            	<!-- <p>Remember me</p>  <input type="checkbox" name="remember-me" value="true" th:checked="checked"/> -->
	            </div>
            </form>
                    
			<div><p>password:etframework</p></div>

            <!-- <form id="loginForm" th:action="@{/login}" method="post">  
	            <div  class="form-group">
	            	<label class="col-md-4"> 用户名 :  </label>
	            	<input type="text" name="username"/>
	            </div>  
	            <div  class="form-group">
	            	<label class="col-md-4"> 密码:  </label>
	            	<input type="password" name="password"/>
	            </div> 
	            <div  class="form-group">
	            	<label class="col-md-4"> 验证码:  </label>
	            	<div class="col-md-5">
		            	<input type="text" name="imageCode"/>
		            	<img id="captchaId" th:src="@{/captcha-image}" onClick="refresh()" height="20" width="40"/>
	            	</div>
	            	<div class="col-md-2">
		            	<img id="captchaId" th:src="@{/captcha-image}" onClick="refresh()" height="20" width="40"/>
	            	</div>
	            </div>
	            <div  class="form-group">
	            	<input type="submit" value="登录"/>
	            	<button type="button" id="ajaxLoginBtn">异步ajax登录</button>
	            </div>  
	            <div>
	            	<label><input type="checkbox" name="remember-me"  value="true" th:checked="checked" class="i-checks">Remember me</label>
	            	<p>Remember me</p>  <input type="checkbox" name="remember-me" value="true" th:checked="checked"/>
	            </div>
	        </form> -->

			
		</div>
    </div>
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.6"></script>
    <script>
    	function refresh(){
    		var i=Math.random();//目的是使页面不一样 
    		var link = $("#captchaId").attr('src');
    		$("#captchaId").attr('src', link + "?id="+i);
    	}
    	
    	$("#ajaxLoginBtn").click(function(){
    		var value = $("#loginForm").serialize();
    		$.post("/login", value, function(data){
    			if(data.responseCode == "Success"){
    				window.location.href = data.redirectUrl;
    			}else{
    				alert(data.msg);
    				refresh();
    			}
    			
    		});
    	});
    </script>
</body>


<!-- Mirrored from www.zi-han.net/theme/hplus/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:18:23 GMT -->
</html>
